.chat-bot {
    position: bottom-right; /* Position the iframe relative to the viewport */
    top: 0; /* Place it at the top */
    left: 0; /* Place it at the left */
    width: 100%; /* Make it full width */
    height: 700px; /* Make it full height */
    border: none; /* Remove iframe border */
    z-index: 9999; /* Set a high z-index to bring it to the front */
    background-color: rgba(0, 0, 0, 0.5); /* Optionally add a semi-transparent background */
}

*{padding:0;margin:0;}

body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	background-color:#CCC;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}
